installed
local_library.a
OK
core
*.test.results
*.main
*.gz
*.debugging
*~
*.mvr
include
lib


*.OK
*.d
*.debug
*.debug_*
*.o
*.test
*.out
*.pdf
*.Rout
*#
*~

a.out
flags

git_cloned_by_make
.git_cloned_by_make
utilities
*.aux
*.log
dependency.test.tex
lr.test.tex
learn.output
eng_only*
pretty.csv
learn.output.10k
learn.output.all
learn.output.tex
